%table#users_table.table.table-striped.ml-8
  %thead.align-baseline.align-top.v-a-top
    %tr
      %th= sortable 'full_name', 'Full name'
      %th= sortable 'email', 'Email'
      %th= sortable 'gender', 'Gender'
      %th= sortable 'birth_date', 'Birth date'
      %th= sortable 'role', 'Role'
  %tbody#users_table_body.align-baseline.align-top
    - @users[:result].each do |user|
      %tr.link{'data-user_id': user.id}
        %td= link_to "#{user.show_full_name}", "#{users_path}/#{user.id}"
        %td.p-2= user.email
        %td= user.show_gender
        %td= user.show_birth_date
        %td= user.show_role