.container.bootstrap.snippets.bootdey
  - if user == current_user
    .d-flex.justify-content-between
      .d-flex
        -if current_user.seller?
          = link_to 'New Item', new_item_path, class: 'btn btn-secondary mb-2'
      .d-flex
        = link_to 'Edit', edit_user_account_path, class: 'btn btn-secondary mb-2'
        = link_to 'Edit password', edit_user_account_password_path, class: 'btn btn-secondary mb-2 ml-1'
        = button_to 'Delete account', registration_path(current_user), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mb-2 ml-1', method: :delete
  .inf-content
    .row
      .col-md-4
        - if user.has_avatar?
          = image_tag(user.avatar, class: 'img img-circle img-thumbnail isTooltip', style: 'width: 400px')
        - else
          = image_tag('avatar.png', class: 'img img-circle img-thumbnail isTooltip', style: 'width: 400px')
      .col-md-6
        .table-responsive
          %table.table.table-user-information
            %tbody
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-user.text-primary
                    Role
                %td.text-primary
                  = user.show_role
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-cloud.text-primary
                    Full name
                %td.text-primary
                  = user.show_full_name
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Email
                %td.text-primary
                  = user.email
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Gender
                %td.text-primary
                  = user.show_gender
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Birth date
                %td.text-primary
                  = user.show_birth_date
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Country
                %td.text-primary
                  = user.show_country
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Phone
                %td.text-primary
                  = user.show_phone
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-calendar.text-primary
                    Created
                %td.text-primary
                  = user.show_create_date