.bootstrap.snippets.bootdey
  .d-flex
  .panel-body.inf-content
    .row
      .col-md-4
        - if @item.images.attached? && @item.images.count == 1
          = image_tag(@item.images.first, class: 'img img-circle img-thumbnail isTooltip', style: 'width: 100%')
        - elsif @item.images.attached? && @item.images.count > 1
          #slider
            %a.control_next{href: '#'} >>
            %a.control_prev{href: '#'} <<
            %ul
              - @item.images.each do |image|
                %li
                  = image_tag(image, class: 'img img-circle img-thumbnail isTooltip', style: 'width: 100%')
        - else
          = image_tag('shop.jpg', class: 'img img-circle img-thumbnail isTooltip', style: 'width: 400px')
      .col-md-6
        .table-responsive
          %table.table.table-user-information
            %tbody
              - if user_signed_in? && !@item.get_rated_user 
                %tr
                  %td
                    %strong
                      %span.glyphicon.glyphicon-envelope.text-primary
                      Rate
                  %td.text-primary
                    = form_with model: @rating do |f|
                      = f.hidden_field :user_id, value: current_user.id
                      = f.hidden_field :item_id, value: @item.id
                      .d-flex
                        = f.select :value, options_for_select((0..5))
                        = f.submit 'Rate', class: 'btn btn-outline-primary ml-1'
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-user.text-primary
                    Title
                %td.text-primary
                  = @item.title
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-cloud.text-primary
                    Category 
                %td.text-primary
                  = @item.show_category
              - if @item.owner_type == 'User'
                %tr
                  %td
                    %strong
                      %span.glyphicon.glyphicon-envelope.text-primary
                      Owner / Phone
                  %td.text-primary
                    %b= link_to @item.show_owner_full_name, user_path(@item.owner)
                    = "/ #{@item.owner.show_phone}"
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Description
                %td.text-primary
                  = @item.show_description
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Price
                %td.text-primary
                  = @item.price 
                  %b $                       
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Count
                %td.text-primary
                  = @item.countity      
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Views
                %td.text-primary
                  = @item.show_views_count
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    Rating
                %td.text-primary
                  = @item.rating              
              %tr
                %td
                  %strong
                    %span.glyphicon.glyphicon-envelope.text-primary
                    State
                %td.text-primary
                  = @item.show_state  
              - if @item.options.present?
                %tr
                  %td
                    %strong
                      %span.glyphicon.glyphicon-envelope.text-primary
                      Options
                  %td.text-primary
                    = select_tag :options, options_for_select(@item.options.map { |k, v| ["#{k} : #{v}"] }) 
                - if @item.item_resources.present?
                  - @item.item_resources.each do |item_resource|
                    %tr
                      %td
                        %strong
                          %span.glyphicon.glyphicon-envelope.text-primary
                          Resource /
                          = item_resource.resource_type
                      %td.text-primary
                        - if item_resource.link?
                          %small.text-dark Click to open link
                          %br/
                          %b= link_to item_resource.name, item_resource.url, target: "_blank"
                        - elsif item_resource.document?
                          %small.text-dark Click to download
                          %br/
                          %b= link_to link_to item_resource.name, rails_blob_path(item_resource.file, disposition: 'attachment')           

= javascript_include_tag 'items/images_slider'