.col-md-9.mx-auto.row.product-list
  - @items[:result].each do |item|
    - if item.countity > 0
      .col-md-6
        %section.border.mb-2.rounded
          .pro-img-box.d-flex.justify-content-center
            - if item.images.attached?
              = image_tag(item.images.first, class: 'img img-circle img-thumbnail isTooltip', style: 'width: 170px; height: 150px;')
            - else
              = image_tag('shop.jpg', class: 'img img-circle img-thumbnail isTooltip', style: 'width: 170px; height: 150px;')
          .text-center
            %h5.ellipsis= link_to "#{item.title}", "#{items_path}/#{item.id}"
            .d-flex.justify-content-center
              %p= "Count: #{item.countity} | "
              %p.text-success= "$ #{item.price}"
            %i.bi-star-fill.text-warning= item.rating
            %i.bi-eye-fill.ml-1= item.show_views_count
            .d-flex.justify-content-center
              - if item.speedily?
                .btn.btn-danger Speedily
              - if user_signed_in?
                = form_for @user_item do |f|
                  = f.hidden_field :user_id, value: current_user.id
                  = f.hidden_field :item_id, value: item.id
                  = button_tag(type: 'submit', class: 'btn btn-outline-dark ml-1') do
                    %i.bi-bag-plus-fill
              - else
                = button_to new_user_session_path, method: :get, class: 'btn btn-outline-dark ml-1' do
                  %i.bi-bag-plus-fill