= form_with model: @category do |f|
  = render partial: 'shared/error_messages', resource: @category
  .form-group.row.mb-2
    %label.col-sm-2.col-form-label Name
    .col-sm-10
      = f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', placeholder: 'Name'
  .form-group.row.mb-2
    %label.col-sm-2.col-form-label Category
    .col-sm-10
      #category_select.select.form-select{'aria-label': '.form-select-lg example'}
        = f.select :parent_id,  Category.all.map { |cat| [cat.name, cat.id, {'data-level': cat.level } ] }, prompt: 'Select category'
  .form-group.row.mb-2
    %label.col-sm-2.col-form-label Options
    #options_list.col-sm-10
      = f.text_field :options, class: 'form-control mb-2', placeholder: 'Option 1', name: 'options[]'
  .d-flex
    = button_tag(type: 'button', id: 'option_add', class: 'btn btn-secondary btn-sm') do
      = content_tag(:strong, '+')
  %br
  .actions
    = f.submit 'Create', class: 'btn btn-primary mb-2'

= javascript_include_tag 'categories/options'